body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
nav{
    display: block;
    background-color: #3B5998;
    height:82px;
    min-width:1000px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#Forgotten{
    opacity: 0.5;
}
img{
    background-color: transparent;
    margin-top: 13px;
}

.container1{ 
    
    display: block;
    
    width: 100px;
    margin-left: 300px;           
        }

        table{
            margin-left: 58vw;
            color: white;
            margin-top: -4.7vw;
        }
        td{
            padding: 0.3vw;
        }
#btn{
    background-color: #4267b2;
    cursor: pointer;
    border-color: #4267b2;
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
#btn:hover{
    opacity: 0.7;
}
.globalcontainer {
    background: linear-gradient(white,lavender);
max-width: 1113.6;
max-height: 794px;
height: 580px;
}
.gcontainer1 {
    width: 1113.6;
    height: 612px;
}
.gcontainer2 {
    margin-left: 200px;
    width: 1113.6;
    height: 572.5px;
}
.gcontainer3 {
    width: 980px;
    height: 572.6px;
    margin-left: 66.8px;
    margin-right: 66.8px;
}
.gcontainer4 {
    width: 980px;
    height: 572.6px;
}
.gmain1{
    display: block;
    float: left;
    width: 580px;
    height: 295.6px;
}
.gmain2{
    display: block;
    width: 400px;
    height: 572.6px;
    float: right;
}
.gmain11{
    margin-right: 15px;
    margin-left: 0px;
    width: 565px;
    height: 255.6px;
}
.gmain12 {    
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
.gmain21{
    width: 400px;
    height: 77.8px;
    padding: 20px 0px 20px 0px;
}
.gmain22{
    width: 400px;
    height: 48px;
    margin-bottom: 5px;
}
span{
    font-size: 36px;
    font-weight: 600;
}
.gmain221{
    width: 400px;
    height: 24.8px;
    color: #1d2129;
    font-size: 19px;
    font-family: inherit;
}
.regcontainer {
    width: 400px;
    height: 454.8px;
}
.regcontainer1{
    width: 400px;
    height: 424.8px;
    padding: 0px 0px 30px 0px;
    margin: 0px auto 0px auto;
}
.regredesigned{
    width: 400px;
    height: 424.8px;
}
.regredesigned{
    width: 400px;
    height: 382px;
}
.fullname{
    white-space: normal;
    overflow: hidden;
    width: 400px;
    height: 48px;
}
.firstname{
    width: 194px;
    height: 38px;
    margin: 0px 8px 10px 0px;
    float: left;
}
.firstname1{
    width: 194px;
    height: 38px;
}
.fnplaceholder{
    background: white;
    width: 194px;
    height: 38px;
}
.fnplaceholder1{
    background: white;
    width: 174px;
    height: 22.8px;
    color: #999;
}
.inputtext1{
    font-size: 18px;
    color: #999;
    width: 172px;
    height: 20.8px;
    padding: 8px 10px 8px 10px;
    border: 1px 1px 1px 1px;
}
.lastname{
    width: 194px;
    height: 38px;
    margin: 0px 8px 10px 0px;
    float: right;
}
.lastname1{
    width: 194px;
    height: 38px;
}
lnplaceholder{
    background: white;
    width: 194px;
    height: 38px;
}
lnplaceholder1{
    background: white;
    width: 174px;
    height: 22.8px;
    padding: 8px 10px 8px 10px;
    box-sizing: border-box;
    overflow:hidden;

    color: #999;
    cursor: text;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile{
    width: 399px;
    height: 38.8px;
    margin: 0px 0px 10px 0px;
}
.mobile1{
    width: 399px;
    height: 38.8px;
}
.inputtext2{
    font-size: 18px;
    color: #999;
    width: 377px;
    height: 20.8px;
    padding: 8px 10px 8px 10px;
    border: 1px 1px 1px 1px;   
}
.birthday{
    width: 400px;
    height: 59.7px;
}
.birthday1{
    width: 400px;
    height: 24px;
    margin: 10px 0px 5px 0px;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}
.birthday2{
    
    width: 400px;
    height: 30px;
}
.auto{
    width: auto;
    height: auto;
}
.day{
    width: 60px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border: 1px 1px 1px 1px;
}
.month{
    width: 60px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border: 1px 1px 1px 1px;  
}
.year{
    width: 60px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border: 1px 1px 1px 1px;
    font-size: 12px; 
}
.birthday22{
    white-space: normal;
    overflow: hidden;
    text-decoration: none;
    width:150px;
    height: 28.8;
    font-size: 11px;
    color: lightslategray;
}
.gender{
    margin-top: 15px;
    width: 400px;
    height: 31.5px;
    margin-top: 10;
    position: relative;
}
.sex{
    width: auto;
    height: auto;
    padding: 0px 10px 0px 3px;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}
.gyan{
    margin-top: 25px;
    width: 399px;
    height: 43.2px;
}
.gyan1{
    width: 316px;
    height: 43.2px;
    margin: 11px 0px 11px 0px;
    color: #777;
    font-size: 11px;
}
.gyan2{
    color: lightslategray;
    text-decoration: none;
}
.signup{
    width: 400px;
    height: 59.2px;
}
.signup1{
    width:152px;
    height: 41px;
    padding: 7px 20px 7px 20px;
    border: 1px 1px 1px 1px solid;
    margin: 10px 0px 10px 0px;
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    min-width: 194px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #69a74e;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    line-height: 126%;
}
.create{
    width: 400px;
    height: 16.8px;
    padding-top: 15px;
    border-top: 1px;
    margin-top: 10px;
    font-size: 13.5px;
    font-weight: bold;
    color: #666;
}
.creat1{
    text-decoration: none;
    color: #365899;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: bold;
}
.lang{
    max-width: 1400px;
    height: 180px;
}
.lang1{
    margin-top: 25px;
    max-width: 1400px;
    height: 137px; 
}
.lang2{
    margin: 0px 150px;
    height: auto;
}
added lol
